
html{
	height: 100%;
		 overflow: hidden;
}

body{
	background-color: #010319 !important;
	position: relative;
	height: 100%;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	overflow-y: scroll !important;


}

.other2{
	position: relative;
	top: 50%;
	left: 37%;
	font-size: 4rem;

}

.fa-caret-down{
	color: white;

}

.rest{
	background-color: white;
	height: 800px;

}
.btn1s{
	position: relative;
	left: 45%;
	background-color: #010319;
	border-color: #010319;
	border-radius: 0 0 30px 30px;
	width: 10%;

}
#overa{
	width: 100%;
	height: 75%;
}
p{
	margin: 0;
	padding: 0;
	line-height: normal;
}

#contenst{
	position: relative;
	top: 1%;
	left:45%;
	height: 20px;
	width: 20px;
	color: white;



}
#contenst2{
	position: relative;
	top: 1%;
	left:73%;
	height: 20px;
	width: 20px;



}

#contenst1{
	position: relative;
	top: 1%;
	left:57%;
	height: 20px;
	width: 20px;
	color: white;



}
.hola{
	position: relative;
	top: 10%;
	left: 12%;
	color: white;
}
.googsi{

	position: relative;
	top: 10%;

}

.mainTx{

	position: relative;
	left: 7%;
	font-weight:900;
	font-size: 4.2rem;
	margin-bottom: 0;
	text-opacity: 1;


}
.mainTx2{
	margin-top: 30px;
	position: relative;
	left: 10%;
	font-weight:500;
	font-size: 1rem;
	margin-bottom: 0;

}

.mainTx3{

	position: relative;
	left: 65%;
	top: 1%
	font-weight:500;
	font-size: 0.8rem;
	margin-bottom: 0;

}

.tex{

	color: white;
	position: relative;
	top: 20%;


}

.nav-link{
	color: white !important;
}
.bg-dark {
    background-color: transparent !important;
    border: none;
}

#navbardrop3{
	color: white;
	position: absolute;
	right: 30px;
}


.fa-bars{
	color: rgba(93, 107, 248, 0.8)  !important;
}
.navbar #content {
	margin: 0;
  position: absolute;

  height: 50px ;
  width: 100px;
  margin-left: 170px;
  top: 80%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.navbar #content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



input {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(93, 107, 248, 0.8);
  border-radius: 50%;
  background: none;
  color:  rgba(93, 107, 248, 0.8);
  font-size: 16px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color:  rgba(93, 107, 248, 0.8);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 26px;
  margin-left: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 2px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 2px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 4px solid #ffffff;
  border-radius: 0;
  background: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#carousel-example-1z{

height: 70%;
width : 45%;
position: absolute;
left: 10%;
	display: inline-block;




}


.d-block{
		border-radius: 10px 70px 10px 70px;
	height: 600px;

}


/* .container2 {
	display: inline-block;
	position: absolute;
  top : 20%;
  right: 10%;;

  display: flex;



  justify-content: center;
} */

.shape {

 	background: linear-gradient(0deg, rgba(93, 107, 248, 0.8) 0%, rgba(226, 127, 203, 0.8) 100%);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	height: 75%;
	width: 37%;
  transition: all 1s ease-in-out;
	display: inline-block;
	position: absolute;
  top : 15%;
  right: 12%;;
	box-shadow: 100px, 100px !important;
  display: flex;





  justify-content: center;
  z-index: 5;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
		background-color: white;
		position: relative;
		top: 4%;
		left: 27%;
		margin-right: 0;
		padding-right: 0;
}



@keyframes morph {
  0% {
			border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
			background: linear-gradient(0deg, rgba(93, 107, 248, 0.8) 0%, rgba(226, 127, 203, 0.8) 100%);
	}

	50% {
			border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
			background: linear-gradient(0deg,rgba(93, 107, 248, 0.8) 0%, rgba(226, 127, 203, 0.8) 100%);
	}

	100% {
		border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
		background: linear-gradient(0deg, rgba(93, 107, 248, 0.8) 0%,rgba(226, 127, 203, 0.8) 100%);
	}
}
